/**
 * Beware that Qt Assistant (QTextBrowser) supports only a limited set of 
 * HTML/CSS: http://qt-project.org/doc/qt-5/richtext-html-subset.html
 */

body {
  max-width: 800px;
  margin: auto;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 4px;
}

#projectlogo {
  float: right;
}

#titlearea {
  margin-bottom: 2px;
}

h1 {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 2rem;
}

h2 {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 1.7rem;
}

a.el {
  font-weight: bold;
}

.textblock img {
  max-width: 100%;
}

#view-on-github {
  display: block;
  float:right;
  margin-right:-4px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  background: url('../assets/blacktocat.png') #0090ff no-repeat 95% 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  font-weight: 700;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a#view-on-github:hover , a#view-on-github:focus {text-decoration: underline;}

@media print{
  #view-on-github {display: none;}
}
