  <meta charset="UTF-8" />
  <title>{{ page.title | append: ' | ' | replace: 'User Manual | ', '' }}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}" />
  <link rel="canonical" href="{{ page.url | replace: 'index.html','' | prepend: site.production_url }}" />
